*{
    margin: 0;
    padding: 0;
}

.ContainerMain{
    width: 100vw;
    height: fit-content;
    padding: 1vw;
    background: rgb(171, 171, 207);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    position: relative;
    overflow: hidden;
}
.ContainerMain .ItemConteudo{
    width: 15vw;
    height: 10vw;
    background: brown;
    border-radius: .5vw;
    position: relative;
}
.ContainerMain .ItemConteudo > *{
    display: none;
}
.ContainerMain .ItemClicado{
    background: rebeccapurple;
    width: 100vw;
    height: 100vh;
    border-radius: unset !important;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: auto;
}
.ContainerMain .ItemClicado .titulo{
    display: block;
    position: relative;
    top: 1rem;
    left: 1rem;
}
.ContainerMain .ItemClicado .paragrafo{
    display: block;
    position: relative;
    top: 1rem;
    left: 1rem;
}
.ContainerMain .ItemClicado .ContainerItem{
    display: block;
    width: 45%;
    height: 45%;
    background: rgba(255, 0, 0, 0.5);
    position: relative;
    top: 1rem;
    left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}